<%= form_for(modelo) do |f| %>
  <% if modelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modelo.errors.count, "error") %> prohibited this modelo from being saved:</h2>

      <ul>
      <% modelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First_Name %>
    <%= f.text_field :f_name %>
  </div>

  <div class="field">
    <%= f.label :Last_Name %>
    <%= f.text_field :l_name %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :bust %>
    <%= f.text_field :bust%>
  </div>

  <div class="field">
    <%= f.label :waist %>
    <%= f.text_field :waist %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
