<p id="notice"><%= notice %></p>

<h3><%= link_to 'Home', root_path %></h3>

<h1>Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Last Name</th> -->
      <th>Height</th>
      <th>Bust</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Shoe Size</th>
      <th>Eye Color</th>
      <th>Hair Color</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelos.each do |modelo| %>
      <tr>
        <!-- <td><%#= modelo.f_name %></td> -->
        <td><%= modelo.f_name %> <%= modelo.l_name %></td>
        <td><%= modelo.height %></td>
        <td><%= modelo.bust %></td>
        <td><%= modelo.waist %></td>
        <td><%= modelo.hip %></td>
        <td><%= modelo.shoe %></td>
        <td><%= modelo.eyes %></td>
        <td><%= modelo.hair %></td>
        <td><%= link_to 'Show', model_path(modelo) %></td>
        <td><%= link_to 'Edit', edit_modelo_path(modelo) %></td>
        <td><%= link_to 'Destroy', modelo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', models_new_path %>
