<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @modelo.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @modelo.l_name %>
</p>

<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
